[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
databases = {extras = ["postgresql"], version = "*"}
alembic = "*"
psycopg2 = "*"
psycopg2-binary = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.12"
